{% extends "layout.html" %}

{% block content %}

<div class="container">
  <h1>List of Books</h1>
  <table class="table">
    <caption>List of Books</caption>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Edition</th>
      <th scope="col">Price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Learning PHP</td>
      <td>Robin Nixon</td>
      <td> Fifth</td>
      <td>$30</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Modern PHP</td>
      <td>Josh Lockhart</td>
      <td>Tenth</td>
      <td>$50</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jump Start MySQL</td>
      <td>Richard Carter</td>   <td>Sixth</td>
      <td>$43</td>
    </tr><tr>
        <th scope="row">4</th>
        <td>Begining PHP</td>
        <td>Matt Doyle</td>   <td>Seventh</td>
        <td>$62</td>
    </tr>
    </tbody>
  </table>
<h3>ABOUT PHP</h3> <p>
  PHP is a widely-used open source general-purpose scriting language that is eapecially suited for web development and can be embedded into HTML</p>
  <p>Instead of lots of commands to output HTML, PHP pages contain HTML with embedded code that does "something". The PHP code is enclosed in special start end processing instructions that aloow you to jump in and out of the PHP mode.</p>
  <p>
What distinguishes PHP from something like client-side Javascript is that the code is executed on the server, generating HTML which is then sent to the client. The client would receive the results of running that script, bt would not know what the underlying code was. </P>
<a href ="php.net/manual/en/intro-whatis.php">For more information CLick Here </a>
</div>
{% endblock %}





